
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}



:root[data-theme="darks"] {
    --main-bg-color: rgb(20, 19, 19);
    --color-titles: white;

    --color-arrow: white;

    --color-loader: none;
    --background-color: none;
    --color-havior: #380505;
    --color-for-words:white;

    --color-pagination: white;
    --background--color-input: black;

    --main-colar-modal: rgba(20, 19, 19, 0.96);
    --color-words-detail-movie:white;

}


:root[data-theme="lights"] {
    --main-bg-color: rgb(240, 240, 240);
    --color-titles: rgba(56, 53, 53, 0.73);

    --color-arrow: rgb(200, 197, 197);

    --color-loader: none;
    --background-color: black;
    --color-havior:black;
    --color-for-words:black;

    --color-pagination: #6d6868;

    --background--color-input: rgb(234, 234, 234);

    --main-colar-modal: rgba(34, 33, 33, 0.91);
    --color-words-detail-movie: #000000;
}



